<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo reference="base">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="rot_base">
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="arm1_motor">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="arm1_bracket">
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="arm2_bracket">
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="arm2_motor">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="arm2_stem">
        <material>Gazebo/White</material>
    </gazebo>

    <gazebo reference="arm3_motor">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="arm3_bracket">
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="claw_base">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="left_claw">
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="right_claw">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <parameters>$(find demo_arm)/config/vel_controller.yaml</parameters>
        </plugin>
    </gazebo>

    <!-- ___________________ Defining ros2_control parameters _______________________ -->

    <ros2_control name="GazeboSystem" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>
        <joint name="rot_base_joint">
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>
        <joint name="arm1_joint">
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>
        <joint name="arm2_joint">
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>
        <joint name="arm3_joint">
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>
        <joint name="left_claw_joint">
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>
        <joint name="right_claw_joint">
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>
    </ros2_control>

</robot>